
# Application mode
APP_ENV=development
GRPC_PORT=50052
APP_PORT=8084

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=

# Twilio configuration
TWILIO_PHONE_NUMBER=
TWILIO_SID=
TWILIO_AUTH_TOKEN=

# Resend configuration
RESEND_API_KEY=
RESEND_DEFAULT_FROM_EMAIL=
RESEND_REGISTER_FROM_EMAIL=
RESEND_NOTIFICATION_FROM_EMAIL=

# Service Addresses (Docker Container Names)
ACCOUNT_SERVICE_ADDR=paygidi-account:50051
WALLET_SERVICE_ADDR=paygidi-wallet:50053
AI_SERVICE_ADDR=paygidi-ai:50054
TRANSACTION_SERVICE_ADDR=paygidi-transaction:50055
