# Application mode
APP_ENV=development
GRPC_PORT=
APP_PORT=

# Database configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Twilio configuration
TWILIO_PHONE_NUMBER=
TWILIO_SID=
TWILIO_AUTH_TOKEN=

# Resend configuration
RESEND_API_KEY=
RESEND_DEFAULT_FROM_EMAIL=
RESEND_REGISTER_FROM_EMAIL=
RESEND_NOTIFICATION_FROM_EMAIL=
