
# Application mode
APP_ENV=development
HTTP_PORT=8080
GRPC_PORT=50051

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=

# JWT configuration
JWT_SECRET=
JWT_EXPIRATION=24h
JWT_ISSUER=paygidi

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION=7d
JWT_REFRESH_ISSUER=paygidi

# Twilio configuration
TWILIO_PHONE_NUMBER=
TWILIO_SID=
TWILIO_AUTH_TOKEN=

# NIN configuration
NIN_HASH_SALT=

# Service Addresses (Docker Container Names)
WALLET_SERVICE_ADDR=paygidi-wallet:50053
NOTIFICATION_SERVICE_ADDR=paygidi-notification:50052
AI_SERVICE_ADDR=paygidi-ai:50054
TRANSACTION_SERVICE_ADDR=paygidi-transaction:50055
