
PORT=8080

# Service URLs (Docker Container Names)
ACCOUNT_SERVICE_URL=http://paygidi-account:8080
WALLET_SERVICE_URL=http://paygidi-wallet:8082
TRANSACTION_SERVICE_URL=http://paygidi-transaction:8081
AI_SERVICE_URL=http://paygidi-ai:8083
NOTIFICATION_SERVICE_URL=http://paygidi-notification:8084
