
# Application mode
APP_ENV=development
HTTP_PORT=8082
GRPC_PORT=50053

# Squad Configuration
SQUAD_API_URL=https://sandbox-api-d.squadco.com
SQUAD_SECRET_KEY=
SQUAD_BENEFICIARY_ACCOUNT=

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=

# Service Addresses (Docker Container Names)
ACCOUNT_SERVICE_ADDR=paygidi-account:50051
TRANSACTION_SERVICE_ADDR=paygidi-transaction:50055
AI_SERVICE_ADDR=paygidi-ai:50054
NOTIFICATION_SERVICE_ADDR=paygidi-notification:50052
