@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #FA4821;
  --primary-gradient: linear-gradient(135deg, #FA4821 0%, #9E0261 100%);
  --primary-accent: #9E0261;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--primary-accent);
  --font-display: var(--font-stack-sans-notch);
  --font-sans: var(--font-google-sans-flex);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display) !important;
}