
# Application mode
APP_ENV=development
GRPC_PORT=50055
HTTP_PORT=8081

# Squad Configuration
SQUAD_API_URL=
SQUAD_SECRET_KEY=

# Database configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

