{
    "swagger": "2.0",
    "info": {
        "description": "This is the transaction service for PayGidi.",
        "title": "PayGidi Transaction Service API",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "name": "API Support",
            "url": "http://www.swagger.io/support",
            "email": "support@swagger.io"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "api.paygidi.site",
    "basePath": "/api/v1",
    "paths": {
        "/health": {
            "get": {
                "description": "Check the health of the service",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Health"
                ],
                "summary": "Health Check",
                "responses": {
                    "200": {
                        "description": "Service is healthy",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/transactions": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Fetch transaction history for all wallet accounts of the authenticated customer using the Squad API.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Transactions"
                ],
                "summary": "Get customer transactions",
                "responses": {
                    "200": {
                        "description": "Success",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/responses.ApiResponse"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/legacy_responses.SquadCustomerTransaction"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/responses.ApiResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "legacy_responses.SquadCustomerTransaction": {
            "type": "object",
            "properties": {
                "currency": {
                    "type": "string"
                },
                "customer": {
                    "type": "object",
                    "properties": {
                        "customer_identifier": {
                            "type": "string"
                        }
                    }
                },
                "fee_charged": {
                    "type": "string"
                },
                "principal_amount": {
                    "type": "string"
                },
                "remarks": {
                    "type": "string"
                },
                "settled_amount": {
                    "type": "string"
                },
                "transaction_date": {
                    "type": "string"
                },
                "transaction_indicator": {
                    "type": "string"
                },
                "transaction_reference": {
                    "type": "string"
                },
                "virtual_account_number": {
                    "type": "string"
                }
            }
        },
        "responses.ApiResponse": {
            "type": "object",
            "properties": {
                "data": {},
                "error": {
                    "type": "string"
                },
                "message": {
                    "type": "string"
                }
            }
        }
    }
}