basePath: /api/v1
definitions:
  legacy_responses.SquadCustomerTransaction:
    properties:
      currency:
        type: string
      customer:
        properties:
          customer_identifier:
            type: string
        type: object
      fee_charged:
        type: string
      principal_amount:
        type: string
      remarks:
        type: string
      settled_amount:
        type: string
      transaction_date:
        type: string
      transaction_indicator:
        type: string
      transaction_reference:
        type: string
      virtual_account_number:
        type: string
    type: object
  responses.ApiResponse:
    properties:
      data: {}
      error:
        type: string
      message:
        type: string
    type: object
host: api.paygidi.site
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: This is the transaction service for PayGidi.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: PayGidi Transaction Service API
  version: "1.0"
paths:
  /health:
    get:
      consumes:
      - application/json
      description: Check the health of the service
      produces:
      - application/json
      responses:
        "200":
          description: Service is healthy
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Health Check
      tags:
      - Health
  /transactions:
    get:
      consumes:
      - application/json
      description: Fetch transaction history for all wallet accounts of the authenticated
        customer using the Squad API.
      produces:
      - application/json
      responses:
        "200":
          description: Success
          schema:
            allOf:
            - $ref: '#/definitions/responses.ApiResponse'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/legacy_responses.SquadCustomerTransaction'
                  type: array
              type: object
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/responses.ApiResponse'
      security:
      - BearerAuth: []
      summary: Get customer transactions
      tags:
      - Transactions
swagger: "2.0"
